version: "3.8"

services:
  db:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: randomusers
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  api:
    build: ./server
    container_name: api-server
    ports:
      - "3000:3000"
    depends_on:
      - db

  web:
    build: ./client
    container_name: frontend-web
    ports:
      - "8000:80"
    depends_on:
      - api

volumes:
  mysql_data:
